<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="static/css/food1.css">
    <title>Foodieee</title>

  
</head>

<body>

    <navbar id="nav">
        <ul>
            <li class="item"><a href="#">Home</a></li>
            <li class="item"><a href="about.html">About Us</a></li>
            <li class="item"><a href="contact.html">Contact Us</a></li>
        </ul>
    </navbar>

    {% block content %}
    
    {% endblock content %}
    
    
</body>

</html>